.main-body-container{
    text-align: center;
}
.header-car-container{
    font-size: 50px;
    font-family: Tahoma;
    color:black;
    font-weight: bolder;
}

.center{
    display: flex;
    margin-left: auto;
    margin-right: auto;
}
.fit-content-width {
    width: fit-content;
}

.icon-body-container{
    width: fit-content;
}
.icon-icon-container{
    width: fit-content;
}
.icon-img-body{
    width: fit-content;
    align-items: center;
    text-align: left;
    float: left;
}
.icon-text-body{
    height: fit-content;
    width: fit-content;
    align-items: center;
    text-align: center;
    font-size: 22px;
}
.symbol-icon{
    max-height: auto;
    max-width: 100%;
    width: 150px;
}
.infor-container{
    text-align: right;
    background-color: red;
    color: white;
    font-size: 20px;
    font-family: sans-serif;
}
.title-text-info{
    padding-right: 120px;
}
.button-number{
    width: fit-content;
    margin-top: 30px;
}
.p-button-0987777529{
    border-color: white;
    background-color: rgb(255, 240, 25);
    color: rgb(94, 94, 94);
    font-size: 25px;
    font-weight: bold;
    border-radius: 10px;
}
.box-marketing-container{
    text-align: center;
}
.text-markerting-container{
    background-color: rgb(238, 238, 238);
    color: rgb(126, 126, 126);
    font-size: 20px;
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 20px;

    &:hover{
        box-shadow: 0px 0px 10px grey;
    }
}

.box-container{
    margin-top: 45px;
}

.logo-tyt{
    width: 200px;
}

.logo-img {
  padding-right: 30px;
}

.title-ag {
  font-family: Tahoma;
  font-size: 20px;
  font-weight: bold;
}

.title-hotline {
  font-size: larger;
  color: red;
}
