<div class="p-grid body-container">
    <div class="p-col-12 body-img-container">
        <p-carousel [value]="images" [autoplayInterval]="5000" [circular]="true">
            <ng-template let-image pTemplate="item">
                <img class="menu-img center" src="{{image}}" alt="img">
            </ng-template>
        </p-carousel>
    </div>
    <div class="p-col-12 icon-body-container center">
        <div class="p-grid icon-container">
            <div class="p-col-12 p-lg-4 icon-icon-container">
                <div class="p-grid p-ai-center">
                    <div class="p-col-6 icon-img-body">
                        <img class="symbol-icon" src="assets/img/icon1.png">
                    </div>
                    <div class="p-col-6 icon-text-body">
                        <span class="text-symbol">Yêu Cầu Báo Giá</span>
                    </div>
                </div>
            </div>
            <div class="p-col-12 p-lg-4 icon-icon-container">
                <div class="p-grid p-ai-center">
                    <div class="p-col-6 icon-img-body">
                        <img class="symbol-icon" src="assets/img/icon-2.png">
                    </div>
                    <div class="p-col-6 icon-text-body">
                        <span class="text-symbol">Đăng Ký Lái Thử</span>
                    </div>
                </div>
            </div>
            <div class="p-col-12 p-lg-4 icon-icon-container">
                <div class="p-grid p-ai-center">
                    <div class="p-col-6 icon-img-body">
                        <img class="symbol-icon" src="assets/img/1-512.png">
                    </div>
                    <div class="p-col-6 icon-text-body">
                        <span class="text-symbol">Dự Toán Chi Phí</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="p-col-12 main-body-container">
        <div class="p-grid">
            <div class="p-col-12 header-car-container">
                <span class="header-text-container">DÒNG XE TIÊU BIỂU</span>
            </div>
            <div class="p-col-12 model-car-container">
              <app-car-collection title="Xe 5 chỗ"
                                  [collection]=model5SeatsCars>
              </app-car-collection>
            </div>
            <div class="p-col-12 model-car-container">
              <app-car-collection title="Xe SUV"
                                  [collection]=modelSUVCars>
              </app-car-collection>
            </div>
            <div class="p-col-12 model-car-container">
              <app-car-collection title="Xe Đa Dụng"
                                  [collection]=model16SeatsCars>
              </app-car-collection>
            </div>
            <div class="p-col-12 model-car-container">
              <app-car-collection title="Xe Bán Tải"
                                  [collection]=modelTrucksCars>
              </app-car-collection>
            </div>
        </div>
    </div>
    <div class="p-col-12">lll</div>
    <div class="p-col-12">222</div>
</div>
