.main-body-container{
    text-align: center;
}
.header-car-container{
    font-size: 50px;
    font-family: Tahoma;
    color:black;
    font-weight: bolder;
}
.model-car-container{
    font-size: 25px;
    color: rgb(184, 2, 2);
    font-family: Tahoma;
    text-align: left;
}
.car-name{
    font-size: larger;
    font-family: Cambria;
    font-weight: bold;
}
.price-car{
    font-size: large;
    color: red;
    font-weight: bold;
}
.center{
    display: flex;
    margin-left: auto;
    margin-right: auto;
}