.main-body-container{
    text-align: center;
}
.header-car-container{
    font-size: 50px;
    font-family: Tahoma;
    color:black;
    font-weight: bolder;
}

.center{
    display: flex;
    margin-left: auto;
    margin-right: auto;
}
.fit-content-width {
    width: fit-content;
}

.padding-1rem {
  padding: 1rem;
}

.padding-left-1rem {
  padding-left: 1rem;
}

.infor-container{
    text-align: right;
    background-color: red;
    color: white;
    font-size: 20px;
    font-family: sans-serif;
}

.p-button-0987777529{
    border-color: rgb(168, 166, 30);
    background-color: rgb(255, 243, 77);
    color: rgb(94, 94, 94);
    font-size: 25px;
    font-weight: bold;
    border-radius: 15px;
}

.box-marketing-container{
    text-align: center;
}

.text-markerting-container{
    background-color: rgba(255, 241, 241, 0.918);
    color: rgb(102, 96, 96);
    padding: 1rem;
    font-family: inherit;

    &:hover{
        box-shadow: 0px 0px 10px grey;
    }
}

.icon-emotion{
    width: 100%;
    font-size: 50px;
    color: red;
    padding-bottom: 15px;
}

.title-marketing{
    padding-bottom: 10px;
    color:black;
    font-weight: 600;
    font-size: large;
}

.box-container{
    margin-top: 45px;
}


.title-ag {
  font-family: inherit;
  font-size: 30px;
  font-weight: bold;
}

.title-hotline {
  color: red;
}

.customer-img {
  width: 90%;
  height: 230px;
  object-fit: cover;
}
