<div class="grid body-container">
    <div class="col-12 body-img-container">
        <p-carousel [value]="images" [autoplayInterval]="5000" [circular]="true">
            <ng-template let-image pTemplate="item">
                <img class="menu-img center" src="{{image}}" width="100%" alt="img">
            </ng-template>
        </p-carousel>
    </div>
    <div class="col-12 flex icon-body-container align-items-center justify-content-center">
      <div class="flex align-items-center padding-1rem clickable" (click)="redirect('bao-gia')">
        <img class="h-4rem md:h-5rem" src="assets/img/icon1.png">
        <span class="hidden text-xl md:block padding-left-1rem">Yêu Cầu Báo Giá</span>
      </div>
      <div class="flex align-items-center padding-1rem clickable" (click)="redirect('mua-xe/lai-thu')">
        <img class="h-4rem md:h-5rem" src="assets/img/icon-2.png">
        <span class="hidden text-xl md:block padding-left-1rem">Đăng Ký Lái Thử</span>
      </div>
      <div class="flex align-items-center padding-1rem clickable" (click)="redirect('du-toan-chi-phi')">
        <img class="h-4rem md:h-5rem" src="assets/img/1-512.png">
        <span class="hidden text-xl md:block padding-left-1rem">Dự Toán Chi Phí</span>
      </div>
    </div>
    <div class="col-12 flex flex-column main-body-container">
      <div class="padding-1rem">
        <span class="font-bold text-2xl md:text-4xl">DÒNG XE TIÊU BIỂU</span>
      </div>
      <div class="model-car-container">
        <app-car-collection title="Xe 5 chỗ"
                            [collection]=model5SeatsCars>
        </app-car-collection>
      </div>
      <div class="model-car-container">
        <app-car-collection title="Xe SUV"
                            [collection]=modelSUVCars>
        </app-car-collection>
      </div>
      <div class="model-car-container">
        <app-car-collection title="Xe Đa Dụng"
                            [collection]=model16SeatsCars>
        </app-car-collection>
      </div>
      <div class="model-car-container">
        <app-car-collection title="Xe Bán Tải"
                            [collection]=modelTrucksCars>
        </app-car-collection>
      </div>
    </div>
    <div class="col-12 flex flex-column md:flex-row infor-container align-items-center justify-content-center padding-1rem">
      <div class="flex flex-column align-items-center justify-content-center">
          <span class="text-1xl md:text-4xl">HỖ TRỢ MUA XE TOYOTA TRẢ GÓP</span>
          <span class="text-sm md:text-lg">LÃI SUẤT THẤP - THỦ TỤC NHANH CHÓNG</span>
      </div>
      <div class="flex button-number padding-1rem">
          <a href="tel:0977-777-529">
            <button pButton pRipple type="button" label="0987 777 529"  class="p-button-raised p-button-0987777529">
              <fa-icon [icon]="faPhone"></fa-icon>
            </button>
          </a>
      </div>
    </div>
    <div class="col-12 box-marketing-container">
        <div class="padding-1rem">
          <span class="font-bold text-2xl md:text-4xl"> TẠI SAO QUÝ KHÁCH NÊN MUA XE TẠI TOYOTA AN GIANG?</span>
        </div>
        <div class="grid box-container">
            <div class="col-12 md:col-3">
                <div class="text-markerting-container">
                    <div class="icon-emotion">
                        <fa-icon [icon]="faMoney"></fa-icon>
                    </div>
                    <div class="title-marketing">GIÁ TỐT - GIAO XE SỚM</div>
                    <div class="text-marketing">
                        Toyota An Giang luôn cam kết mang lại mức giá ưu đãi nhất
                        cho Quý khách với thời gian giao xe nhanh nhất có thể.
                    </div>
                </div>
            </div>
            <div class="col-12 lg:col-3">
                <div class="text-markerting-container">
                    <div class="icon-emotion">
                        <fa-icon [icon]="faGift"></fa-icon>
                    </div>
                    <div class="title-marketing">ĐẠI LÝ KHUYẾN MÃI NHIỀU NHẤT</div>
                    <div class="text-marketing">
                        Để tri ân Khách hàng chúng tôi luôn dành các chương trình
                        khuyến mãi hấp dẫn nhất lên đến hàng chục triệu đồng
                        để gửi đến Quý khách hàng mua xe và sử dụng các dịch vụ khác.
                    </div>
                </div>
            </div>
            <div class="col-12 lg:col-3">
                <div class="text-markerting-container">
                    <div class="icon-emotion">
                        <fa-icon [icon]="faCar"></fa-icon>
                    </div>
                    <div class="title-marketing">LÁI THỬ XE TẬN NHÀ</div>
                    <div class="text-marketing">
                        Giúp Quý khách nhanh chóng trải nghiệm xe Toyota tại nhà,
                        tiện lợi vô cùng. Không những thế, khi lái thử các dòng xe Vios,
                        Innova, Camry, Fortuner, Corolla Cross Hybrid, Corolla Altis,
                        Rush, Wigo,... Quý khách sẽ nhận được nhiều phần quà bất ngờ
                        đến từ đại lý.
                    </div>
                </div>
            </div>
            <div class="col-12 lg:col-3">
                <div class="text-markerting-container">
                    <div class="icon-emotion">
                        <fa-icon [icon]="faFaceStar"></fa-icon>
                    </div>
                    <div class="title-marketing">CHĂM SÓC KHÁCH HÀNG NHIỆT TÌNH NHẤT</div>
                    <div class="text-marketing">
                        Đội ngũ tư vấn chuyên nghiệp luôn sẵn sàng tư vấn nhiệt tình
                        giúp Quý khách tìm được chiếc xe ưng ý.
                        Hãy chắc chắn rằng, quý khách đã gọi cho hotline:
                        <strong> 0987 777 529 </strong>. Đại diện bán hàng,
                        Đại lý Toyota An Giang để nhận giá tốt nhất.</div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 intro-img-seller-container">
        <p-carousel [value]="customerImg"
                    styleClass="custom-carousel"
                    [numVisible]="4"
                    [numScroll]="1"
                    [circular]="true"
                    [autoplayInterval]="3000"
                    [responsiveOptions]="responsiveOptions">
            <ng-template pTemplate="header">
                <span class="font-bold text-2xl md:text-4xl">LỄ BÀN GIAO XE MỚI</span>
            </ng-template>
            <ng-template let-customer pTemplate="item">
                <img class="customer-img" src="{{customer}}" alt="customer"/>
            </ng-template>
        </p-carousel>
    </div>
    <div class="col-12 flex-row align-items-center justify-content-center">
      <div class="flex padding-1rem align-items-center justify-content-center">
        <span class="font-bold text-xl md:text-4xl">ĐẠI DIỆN KINH DOANH TOYOTA AN GIANG</span>
      </div>
      <div class="flex flex-column md:flex-row">
        <div class="flex align-items-center justify-content-center">
          <img class="h-8rem md:h-12rem" src="assets/img/logo-tyt.jpg">
        </div>
        <div class="flex flex-column">
          <div class="flex flex-column align-items-center">
            <span class="font-bold text-xl md:text-3xl title-hotline">Hotline Kinh doanh :
              <a href="tel:0977-777-529">0977 777 529</a>
            </span>
          </div><br>
          <div>
            <span class="text-base md:text-lg">Để được tư vấn và báo giá xe nhanh ?</span>
          </div>
          <div>
            <ul class="context-marketing">
              <li>Gọi để được tư vấn về sản phẩm, dịch vụ</li>
              <li>Gọi ngay để được tư vấn chính xác và nhận được khuyến mãi hấp dẫn nhất. </li>
              <li>Website: https://</li>
            </ul>
          </div>
          <div>
            <a class="title-hotline" href="mailto:toyotaangiang.pt@gmail.com" >Email:toyotaangiang.pt@gmail.com</a>
          </div>
        </div>
      </div>
    </div>

</div>
