.title {
  font-size: x-large;
  border-bottom: solid 1px;
  padding-bottom: 5px;
}

.noi-that {
  background-position: bottom right;
  background-repeat: no-repeat;
  padding-top: 2rem;
  padding-left: 2rem;
}
