<div class="grid app-footer">
  <div class="sm:col-12 md:col-12 lg:col-3 app-left-container">
    <div class="grid">
      <div class="col-12 app-left-block-header">
        <img src="../../../assets/img/footer/toyota-chuyen-dong-tien-phong.png"/>
      </div>
      <div class="col-12">
        <ul class="fa-ul">
          <li><span class="fa-li"><fa-icon [icon]="directionIcon"></fa-icon></span>1785 Trần Hưng Đạo, Mỹ Quý, Long Xuyên, An Giang</li>
          <li><span class="fa-li"><fa-icon [icon]="phoneIcon"></fa-icon></span>0977 777 529</li>
          <li><span class="fa-li"><fa-icon [icon]="mailIcon"></fa-icon></span>toyotaangiang.pt@gmail.com</li>
        </ul>
      </div>
      <div class="col-12">
        <!-- <ul class="fa-ul link-list">
          <li><span class="fa-li"><fa-icon [icon]="faCaretRight"></fa-icon></span>
            Giới thiệu
          </li>
          <li><span class="fa-li"><fa-icon [icon]="faCaretRight"></fa-icon></span>
            Dịch vụ
          </li>
          <li><span class="fa-li"><fa-icon [icon]="faCaretRight"></fa-icon></span>
            Tin tức
          </li>
        </ul> -->
      </div>
    </div>
  </div>
  <div class="sm:col-12 md:col-12 lg:col-6 app-center-container">
    <div class="grid">
      <div class="col-12 app-block-title-container">
        <span class="app-block-title">Xe Toyota</span>
      </div>
      <div class="col-12">
        <ul class="fa-ul app-car-list">
          <li><span class="fa-li"><fa-icon [icon]="carImage"></fa-icon></span>Toyota Vios</li>
          <li><span class="fa-li"><fa-icon [icon]="carImage"></fa-icon></span>Toyota Yaris</li>
          <li><span class="fa-li"><fa-icon [icon]="carImage"></fa-icon></span>Toyota Altis</li>
          <li><span class="fa-li"><fa-icon [icon]="carImage"></fa-icon></span>Toyota Camry</li>
          <li><span class="fa-li"><fa-icon [icon]="carImage"></fa-icon></span>Toyota Wigo</li>
          <li><span class="fa-li"><fa-icon [icon]="carImage"></fa-icon></span>Toyota Granvia</li>
          <li><span class="fa-li"><fa-icon [icon]="carImage"></fa-icon></span>Toyota Fortuner</li>
          <li><span class="fa-li"><fa-icon [icon]="carImage"></fa-icon></span>Toyota Innova</li>
          <li><span class="fa-li"><fa-icon [icon]="carImage"></fa-icon></span>Toyota Rush</li>
          <li><span class="fa-li"><fa-icon [icon]="carImage"></fa-icon></span>Toyota Avanza</li>
          <li><span class="fa-li"><fa-icon [icon]="carImage"></fa-icon></span>Toyta Hilux</li>
          <li><span class="fa-li"><fa-icon [icon]="carImage"></fa-icon></span>Toyota Cross</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="sm:col-12 md:col-12 lg:col-3 app-right-container">
    <div class="grid">
      <div class="col-12 app-block-title-container">
        <span class="app-block-title">Tư vấn nhanh</span>
      </div>
      <div class="col-12 app-tvn-container">
        <div class="grid">
          <div class="col-12">
            <input pInputText placeholder="Tên Bạn"/>
          </div>
          <div class="col-12">
            <input pInputText placeholder="Số Điên Thoại"/>
          </div>
          <div class="col-12">
            <button pButton><label>Gọi Cho Tôi</label></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
