<div class="p-grid app-footer">
  <div class="p-col-3"></div>
  <div class="p-col-6">
    <div class="p-grid">
      <div class="p-col-12">
        <span class="app-car-list-title">Xe Toyota</span>
        <hr>
      </div>
      <div class="p-col-12">
        <ul class="fa-ul app-car-list">
          <li><span class="fa-li"><fa-icon [icon]="carImage"></fa-icon></span>Toyota Vios</li>
          <li><span class="fa-li"><fa-icon [icon]="carImage"></fa-icon></span>Toyota Yaris</li>
          <li><span class="fa-li"><fa-icon [icon]="carImage"></fa-icon></span>Toyota Altis</li>
          <li><span class="fa-li"><fa-icon [icon]="carImage"></fa-icon></span>Toyota Camry</li>
          <li><span class="fa-li"><fa-icon [icon]="carImage"></fa-icon></span>Toyota Wigo</li>
          <li><span class="fa-li"><fa-icon [icon]="carImage"></fa-icon></span>Toyota Granvia</li>
          <li><span class="fa-li"><fa-icon [icon]="carImage"></fa-icon></span>Toyota Fortuner</li>
          <li><span class="fa-li"><fa-icon [icon]="carImage"></fa-icon></span>Toyota Innova</li>
          <li><span class="fa-li"><fa-icon [icon]="carImage"></fa-icon></span>Toyota Rush</li>
          <li><span class="fa-li"><fa-icon [icon]="carImage"></fa-icon></span>Toyota Avanza</li>
          <li><span class="fa-li"><fa-icon [icon]="carImage"></fa-icon></span>Toyta Hilux</li>
          <li><span class="fa-li"><fa-icon [icon]="carImage"></fa-icon></span>Toyota Cross</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="p-col-3"></div>
</div>
