.app-footer {
  color: white;
  font-family: "Tahoma";
  background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0,0,0,0.8)), url(../../../assets/img/background.jpg);
  background-size: 100%;
  padding-left: 15%;
  padding-right: 15%;
  background-position: center;
  background-color: #000000;
}

.app-left-container {
  ul li{
    margin-bottom: 10px;
  }
}

.app-left-block-header {
  text-align: center;
}

.app-block-title-container {
  margin-bottom: 15px;
}

.app-block-title {
  font-weight: bold;
  font-size: larger;
  border-bottom: 4px double;
  margin-bottom: 10px;
}

.link-list {
  column-count: 3;
}

.app-car-list {
  column-count: 2;

  li {
    margin-bottom: 10px;
  }
}

.app-tvn-container {
  border-radius: 5px;
  background-color: brown;

  input {
    background-color: brown;
    color: white;
    width: 100%;

    &::placeholder {
      color: white;
    }
  }
}
