.logo-name{
    color: red;
    font-weight: bolder;
    font-size: 30px;
    font-family: Arial;
}
.logo-img{
    width: 200px;
    float: right;
}
.infor-seller-container{
    text-align: center;
    font-size: large;
}
