<div class="grid flex align-items-stretch header-center">
  <div class="col-12 md:col-8 lg:col-8 app-left-container ">
    <div class="flex align-items-center justify-content-center">
      <img class="logo-img h-4rem md:h-6rem" src="assets/img/logo-Toyota-3-300x150.png" alt="logo.jpg">
      <span class="logo-name text-lg md:text-4xl">TOYOTA AN GIANG</span>
    </div>
  </div>
  <div class="col-12 md:col-4 lg:col-4 app-right-container">
    <div class="flex align-items-center info-container">
      <span class="text-sm md:text-md info-seller-container">
        Hotline: 0987 777 529<br>
        Địa chỉ: 1785 Trần Hưng Đạo, P.Mỹ Quý,<br>
        TP.Long Xuyên, T.An Giang<br>
        Email: toyotaangiang.pt@gmail.com
      </span>
    </div>
  </div>
</div>
