.app-left-container {
  background-image: url(../../../assets/img/header/banner-backgound.png);
  background-position: center right;
  background-repeat: no-repeat;
}

.app-right-container {
  background-color: #c62828;
}

.info-container {
  height: 100%;
}

.logo-name{
  color: rgb(230, 5, 5);
  font-weight: bold;
  font-size: 30px;
  font-family: sans-serif;

}
.logo-img{
  width: 250px;
  float: right;
}

.info-seller-container{
  text-align: left;
  font-size: 17px;
  color: white;
  font-weight: 700;
  font-family: sans-serif;
}



