<div class="p-grid p-ai-stretch header-center">
  <div class="p-col-12 p-lg-8 app-left-container">
    <div class="p-grid p-ai-center">
      <div class="p-col-6 logo-container">
        <img class="logo-img" src="assets/img/logo-Toyota-3-300x150.png" alt="logo.jpg" width="100%">
      </div>
      <div class="p-col-6">
        <span class="logo-name">TOYOTA AN GIANG</span>
      </div>
    </div>
  </div>
  <div class="p-col-12 p-lg-4 app-right-container">
    <div class="p-grid p-ai-center info-container">
      <span class="p-col-12 info-seller-container">
        Hotline: 0987 777 529<br>
        Địa chỉ: 1785 Trần Hưng Đạo, P.Mỹ Quý,<br>
        TP.Long Xuyên, T.An Giang<br>
        Email:
      </span>
    </div>
  </div>
</div>
