.head-intro{
    font-size: 30px;
    font-family: serif;
    font-weight: 600;
    color:#d10909;
    margin-top: 20px;
    margin-bottom: 20px;
}
.body-context-intro{
    margin-bottom: 25px;
    font-size: 20px;
    font-family: serif;
}
.img-center-intro{
    text-align: center;
    width: 100%;
}
.title-side-intro{
    font-weight: 700;
    font-size:25px;
    color: #00355e;
    text-align: center;
    padding-bottom: 20px;
}
.body-side-intro{
    font-size: 20px;
    font-family: serif;
    margin-top: 150px;
}
.img-rside-intro{
    width:500px;
    margin-top: 50px;
    margin-bottom: 20px;
    border-radius: 25px;
    border-color:rgb(0, 42, 78);
    border-width: 10px;
    border-style: inset;
    
}
.img-side-intro{
    text-align: center;
}
