.title-intro{
    font-family: sans-serif;
    font-weight: 600;
    color:#d10909;
    margin-top: 20px;
    margin-bottom: 20px;
}
.body-context-intro{
    margin-bottom: 25px;
    font-family: sans-serif;
    line-height: 1.5;
    text-align: justify;
}
.img-intro{
    text-align: center;
    width: 100%;
    border-radius: 25px;
    border-color:rgb(0, 42, 78);
    border-width: 10px;
    border-style: inset;
}
.title-side-intro{
    font-weight: 700;
    color: #00355e;
    padding-top: 10px;
    padding-bottom: 10px;
}
.body-side-intro{
    font-family: sans-serif;
    line-height: 1.5;
    text-align: justify;
}
.avatar{
  width:150px;
  border-radius: 100%;
  background-size: cover;
  display: block;

}


