<app-banner text="GIỚI THIỆU"></app-banner>
<div class="test-base md:text-4xl">
    <span class="title-intro">GIỚI THIỆU ĐẠI LÝ TOYOTA AN GIANG</span><br>
</div>
<div class="body-context-intro">
    <span class="text-base md:text-xl">
      Ngày 26/07/2019<strong> Toyota An Giang </strong> là chi nhánh trực thuộc
      Toyota Cần Thơ chính thức đi vào hoạt động.
      <br>Đại lý toyota An Giang hoạt động theo mô hình 3S, gồm:<br>
      • Bán lẻ xe ô tô Toyota<br>
      • Cung cấp dịch vụ, bảo dưỡng, sửa chữa chuyên nghiệp<br>
      • Cung cấp phụ tùng ô tô Toyota chính hiệu<br>
      Công ty TNHH Toyota An Giang khẳng định sẽ mang lại cho Quí khách hàng
      chất lượng dịch vụ tốt nhất với mục đích đạt sự hài lòng cao nhất của
      Khách hàng về các dịch vụ 3S đạt tiêu chuẩn TOYOTA. Tất cả tạo thành một
      hệ thống đồng bộ đảm bảo khách hàng có thể hoàn toàn đặt lòng tin và
      yên tâm khi sử dụng dịch vụ tại <strong>TOYOTA AN GIANG</strong>.
    </span>
</div>
<div class="img-center-intro">
    <img class="img-intro" src="assets/img/intro/toyotaAG1.jpg"><br>
</div>
<div class="grid context-intro">
    <div class="col-12 body-side-intro">
        <div class="title-side-intro">
            <span class="text-base md:text-2xl">SỞ HỮU DIỆN TÍCH RỘNG LỚN</span>
        </div>
        <span class="text-base md:text-xl">
            Được tọa lạc trên đường trục chính của
            TP Long Xuyên An Giang: 1785, Trần Hưng Đạo, Mỹ Quý, Long Xuyên, An Giang.
            Toyota An Giang sở hữu một khuôn viên rộng lớn với diện tích xây dựng 3.449m2.
            Bao gồm 3 khu vực chính: phòng trưng bày sản phẩm, khu vực phòng chờ cho khách hàng và xưởng dịch vụ.
            Trong đó, chiếm diện tích lớn nhất là khu vực xưởng dịch vụ với 33 khoang sửa chữa,
            bao gồm 14 khoang bảo dưỡng nhanh/sửa chữa chung và 19 khoang sửa chữa đồng sơn.
            Tất cả các khu vực chức năng đều được trang bị các máy móc và công nghệ hiện đại.
            Đồng hành với đó là đội ngũ kỹ sư, kỹ thuật viên giàu kinh nghiệm.
            Vì thế mỗi ngày đại lý Toyota này có thể tiếp nhận hơn 30 lượt xe sử dụng mỗi ngày.
        </span>
    </div>
    <div class="col-12 img-center-intro">
        <div class="grid">
            <div class="col-6">
                <img class="img-intro" src="assets/img/intro/img1.jpg">
            </div>
            <div class="col-6">
                <img class="img-intro" src="assets/img/intro/cus1.jpg">
            </div>
        </div>
    </div>
</div>
<div class="grid context-intro">
    <div class="col-12 body-side-intro">
        <div class="title-side-intro">
            <span class="text-base md:text-2xl">ĐỊA ĐIỂM BẢO DƯỠNG TOYOTA</span>
        </div>
        <span class="text-base md:text-xl">
            Với quy trình triển khai dịch vụ bảo dưỡng nhanh chỉ mất 60 phút
            Toyota An Giang Được tọa lạc trên đường trục chính của
            TP Long Xuyên An Giang một địa điểm cực kỳ thuận lợi cho quý khách hàng
             ở các tỉnh: An Giang, Đồng Tháp, Kiên Giang và quận Thốt Nốt Cần Thơ, huyện Vĩnh Thạnh Cần Thơ.
        </span>
    </div>
    <div class="col-12 img-center-intro">
        <div class="grid">
            <div class="col-6">
                <img class="img-intro" src="assets/img/intro/main.jpg">
            </div>
            <div class="col-6">
                <img class="img-intro" src="assets/img/intro/img2.jpg">
            </div>
        </div>
    </div>
</div>
<div class="grid context-intro">
    <div class="col-12 body-side-intro">
      <div class="title-side-intro">
        <span class="text-base md:text-2xl">ĐỒNG SƠN NHANH TRONG 4 GIỜ</span>
      </div>
        <span class="text-base md:text-xl">
                Trong quá trình sử dụng, nước sơn bên ngoài của ô tô ít nhiều sẽ bị phai màu
                do thời tiết hoặc trầy xước da va chạm. Do đó, dịch vụ đồng sơn nhanh
                được xem là giải pháp lý tưởng để phục hồi màu sơn.Tương tự như dịch vụ bảo dưỡng nhanh,
                dịch vụ đồng sơn nhanh sẽ giúp khách hàng tiết kiệm được rất nhiều thời gian.
                Chỉ trong 4 giờ đồng hồ, “xế cưng” của quý khách hàng sẽ bóng bẩy như lúc mới mua.
                Loại sơn chính hãng được đại lý Toyota sử dụng hiện tại đến
                từ thương hiệu Sikken nổi tiếng nhất thế giới.
                Đây cũng là thương hiệu được nhiều hãng xe danh tiếng sử dụng.
                Khách hàng sẽ cảm nhận được sự khác biệt rõ rệt về chất lượng khi
                sơn tại garage ngoài.
        </span>
    </div>
</div>
<div class="grid context-intro">
    <div class="col-12 body-side-intro">
      <div class="title-side-intro">
        <span class="text-base md:text-2xl">CHO PHÉP KHÁCH HÀNG ĐẶT HẸN ONLINE</span>
      </div>
        <span class="text-base md:text-xl">
                Đối với những khách hàng bận rộn thì việc đến đại lý
                chờ đến lượt xe của mình được làm dịch vụ thì quả là bất tiện.
                Vì thế, Toyota An Giang đã cho phép khách hàng
                đặt lịch hẹn online trước khi đến đại lý.
                Tuy nhiên, khách hàng cần lưu ý phải đặt lịch hẹn trước tối thiểu
                4 tiếng trong giờ hành chính để đại lý thuận tiện trong việc sắp xếp.
                Trường hợp khách hàng đến trễ hơn 15 phút so với thời gian hẹn,
                đại lý sẽ tiếp nhận những xe tiếp theo.
        </span>
    </div>
</div>
<div class="grid context-intro">
    <div class="col-12 body-side-intro">
      <div class="title-side-intro">
        <span class="text-base md:text-2xl">LIÊN KẾT VỚI NHIỀU NGÂN HÀNG</span>
      </div>
        <span class="text-base md:text-xl">
            Ngày nay, hình thức mua xe trả góp được rất nhiều khách hàng lựa chọn.
             Nắm bắt được xu hướng này, Toyota Cần Thơ CN AN Giang đã chủ động liên kết
              với nhiều ngân hàng nhằm cung cấp cho khách hàng những gói
              vay với lãi suất ưu đãi, hấp dẫn  chưa tới 4%/1 năm.
             Đi kèm là thời gian trả nợ linh hoạt lên tới 84 tháng.
        </span>
    </div>
</div>
<div class="grid context-intro">
  <div class="col-12 title-side-intro">
    <span class="text-base md:text-2xl">NHÂN VIÊN TIÊU BIỂU</span>
  </div>
  <div class="col-12 flex justify-content-center">
    <img class="avatar border-circle" src="assets/img/intro/staff.jpg">
  </div>
  <div class="col-12 flex justify-content-center text-base md:text-lg" >
    <span class="name">Phụng Tiên</span>
  </div>

</div>
<span class="text-base md:text-l">
    <strong>Mọi thông chi tiết về dòng xe Toyota xin quý khách
    vui lòng liên hệ hotline: 0987 777 529
    Công ty Toyota An Giang Trụ sở chính : 1785, Trần Hưng Đạo,
     Mỹ Quý, Long Xuyên, An Giang.</strong></span>
