<div class="head-intro">
    <span class="title-intro">GIỚI THIỆU ĐẠI LÝ TOYOTA AN GIANG</span><br>
</div>
<div class="body-context-intro">
    <span class="content-intro">Ngày 26/07/2009<strong> Toyota An Giang </strong> là chi nhánh trực thuộc 
        Toyota Cần Thơ chính thức đi vào hoạt động. 
        <br>Đại lý toyota An Giang hoạt động theo mô hình 3S, gồm:<br>
        • Bán lẻ xe ô tô Toyota<br>
        • Cung cấp dịch vụ, bảo dưỡng, sửa chữa chuyên nghiệp<br>
        • Cung cấp phụ tùng ô tô Toyota chính hiệu<br>
        Công ty TNHH Toyota An Giang khẳng định sẽ mang lại cho Quí khách hàng 
        chất lượng dịch vụ tốt nhất với mục đích đạt sự hài lòng cao nhất của 
        Khách hàng về các dịch vụ 3S đạt tiêu chuẩn TOYOTA. Tất cả tạo thành một 
        hệ thống đồng bộ đảm bảo khách hàng có thể hoàn toàn đặt lòng tin và 
        yên tâm khi sử dụng dịch vụ tại <strong>TOYOTA AN GIANG</strong>.
    </span>
</div>
<div class="img-center-intro">
    <img class="img-intro" src="assets/img/intro/toyotaAG.jpg"><br>
</div>
<div class="p-grid context-intro">
    <div class="p-col-6 body-side-intro">
        <div class="title-side-intro">
            <span class="title-side-intro">ĐỊA ĐIỂM BẢO DƯỠNG TOYOTA</span>
        </div>
        <span class="context-intro">Được tọa lạc trên đường trục chính của 
            TP Long Xuyên An Giang: 1785, Trần Hưng Đạo, Mỹ Quý, Long Xuyên, An Giang.
            Toyota An Giang hứa hẹn sẽ là một địa điểm
            cực kỳ thuận lợi cho quý khách hàng ở các tỉnh: An Giang, Đồng Tháp, 
            Kiên Giang và quận Thốt Nốt Cần Thơ, huyện Vĩnh Thạnh Cần Thơ.
        </span>
    </div>
    <div class="p-col-6 img-side-intro">
        <img class="img-rside-intro" src="assets/img/intro/maintain.jpg">
    </div>
</div>
<div class="p-grid context-intro">
    <div class="p-col-6 img-side-intro">
            <img class="img-rside-intro" src="assets/img/intro/maintain.jpg">
    </div>
    <div class="p-col-6 body-side-intro">
        <div class="title-side-intro">
            <span class="title-side-intro">ĐỊA ĐIỂM BẢO DƯỠNG TOYOTA</span>
        </div>
        <span class="context-intro">Được tọa lạc trên đường trục chính của 
            TP Long Xuyên An Giang: 1785, Trần Hưng Đạo, Mỹ Quý, Long Xuyên, An Giang.
            Toyota An Giang hứa hẹn sẽ là một địa điểm
            cực kỳ thuận lợi cho quý khách hàng ở các tỉnh: An Giang, Đồng Tháp, 
            Kiên Giang và quận Thốt Nốt Cần Thơ, huyện Vĩnh Thạnh Cần Thơ.
        </span>
    </div>
</div>
<span class="seller-infor">Mọi thông chi tiết về dòng xe Toyota xin quý khách 
    vui lòng liên hệ Hotline: 0987 777 529
     Công ty Toyota An Giang Trụ sở chính : 1785, Trần Hưng Đạo, 
     Mỹ Quý, Long Xuyên, An Giang.</span>