h1{
    color:rgb(255, 255, 255);
    font-family: sans-serif;
    text-align: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2),rgba(0,0,0,0.8)),url(../../../assets/img/background01.jpg);
    padding-top: 50px;
    padding-bottom: 40px;
    background-size: 100%;
    background-position: center;
    font-size: 38px;
    text-shadow: 0 0 5px;
}
