<div class="prid">
    <div class="p-col-12">
        <h1>ĐĂNG KÝ LÁI THỬ</h1>
    </div>
    <div class="p-col-12">
        <div class="p-grid p-ai-center p-jc-center main-drive-container">
            <div class="p-col-12 p-lg-8 input-container">
                <div class="p-grid p-ai-center">
                    <div class="p-col-12 input-container-drive">
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                            <input type="text" pInputText placeholder="Tên Bạn"/>  
                        </div>
                    </div>
                    <div class="p-col-12 input-container-drive">
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                            <input type="text" pInputText placeholder="Số Điện Thoại">
                        </div>   
                    </div> 
                    <div class="p-col-12 input-container-drive">
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                            <input type="text" pInputText placeholder="Xe bạn quan tâm"> 
                        </div>  
                    </div>
                    <div class="p-col-12 input-container-drive">
                        <p-button label="Đăng Ký" icon="pi pi-check"></p-button>
                    </div>
                </div>
            </div>
        </div> 
    </div>
</div>


    
