.title {
  font-size: x-large;
  border-bottom: solid 1px;
  padding-bottom: 5px;
}

:host ::ng-deep .p-carousel-prev {
  position: absolute;
  z-index: 10;
}

:host ::ng-deep .p-carousel-next {
  color: black !important;
  text-shadow: 0 0 white;
  position: absolute;
  right: 17%;
}

