.intro-content{
    font-size: 20px;
    text-align: justify;
    line-height: 2.0;
}
.car-img-price{
    width: 100%;
}
.detail-contact{
    width:fit-content;
}
.p-button-rounded{
    font-size: 20px;
    background-color: rgb(216, 46, 3);
    border-color: rgb(248, 2, 2);
}
h3{
    color:rgba(1, 0, 54, 0.932); 
    font-family: sans-serif;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 50px;
}
h1{
    color:rgb(199, 1, 1);
    font-family: sans-serif;
}
