.intro-content{
    font-size: 20px;
    text-align: center;
}
.car-img-price{
    width: 100%;
    margin-top: 60px;
}
.p-button-rounded{
    margin-top: 60px;
    font-size: 20px;
    background-color: rgb(216, 46, 3);
    border-color: rgb(248, 2, 2);
}