<div class="flex flex-column align-content-center justify-content-center">
  <span class="flex text-2xl">
    Đánh giá xe Toyota Vios 2021 – “Ông vua phân khúc Sedan hạng B”
  </span>

  <span class="flex">
    Từ khi ra mắt phiên bản nâng cấp mới nhất từ đầu năm đến nay Toyota Vios 2021 là dòng xe nổi bật và được quan tâm nhiều nhất trên thị trường phân khúc hạng B Việt Nam nhờ thiết kế lịch lãm, giá thành vừa phải, … và còn nhiều yếu tốt cốt lõi mà Toyota đã nhiều năm xây dựng.
  </span>

  <div class="flex align-content-center justify-content-center">
    <img class="w-12 md:w-6" src="assets/img/khuyen-mai/bai-viet/danh-gia-vios/1.jpg">
  </div>

  <span class="flex">
    Thực tế, ngành xe tại Việt Nam vài tháng qua chịu ảnh hưởng của đại dịch Covid, nhiều nơi bị phong tỏa dẫn đến doanh số sụt giảm đáng kể. Nhưng sức mua của Toyota Vios vẫn được duy trì quanh mức gần 1.000 xe, cao hơn đáng kể so với các đối thủ khác trong cùng phân khúc như : Hyundai Accent, Honda City, Kia Sotuto, Mazda 2,…
  </span>

  <span class="flex">
    Lý giải về điều này, một chuyên gia trong ngành xe cho rằng, khách hàng có xu hướng chọn lọc kỹ lưỡng hơn, cân nhắc kỹ càng hơn trước quyết định mua xe trong thời điểm này.
  </span>

  <span class="flex">
    Tại thị trường Việt Nam, Vios được phân phối với 4 phiên bản. Vios 1.5E MT (số sàn), Vios 1.5E CVT (tự động), Vios 1.5G CVT (tự động) và Vios 1.5GR-S thể thao. Sự có mặt của phiên bản thể thao Vios GR-S không khác gì một lời đáp trả đối thủ Honda City 2021 cũng cho ra mắt bản thể thao RS.
  </span>

  <span class="flex">
    Ngoài việc có thêm phiên bản Vios 1.5GR-S thể thao thì phiên bản nâng cấp có những điểm mới như sau:
  </span>

  <div class="flex no-padding">
    <span>
      <b>Toyota Vios 1.5G CVT 2021:</b> Đèn chiếu sáng chuyển sang LED 6 bóng, đèn sương mù Halogen chuyển sang LED, có thêm đèn báo phanh khẩn cấp, có khóa cửa xe theo tốc độ.
    </span>
  </div>

  <div class="flex no-padding">
    <span>
      <b>Toyota Vios 1.5E CVT 2021:</b> Đèn chiếu sáng từ Halogen thường sang dạng bóng chiếu, đèn hậu và đèn sương mù Halogen chuyển sang LED, có thêm đèn báo phanh khẩn cấp, đèn chờ dẫn đường, hệ thống báo động và mã hóa động cơ.
    </span>
  </div>

  <div class="flex no-padding">
    <span>
      <b>Toyota Vios 1.5E MT 2021:</b> đèn hậu và đèn sương mù Halogen chuyển sang LED, có thêm cảm biến lùi.
    </span>
  </div>

  <div class="flex flex-column">
    <span class="flex text-2xl underline">
      Màu xe Toyota Vios 2021
    </span>

    <span class="flex">
      Toyota Vios 2021 có 7 tuỳ chọn màu sắc ngoại thất gồm: Bạc, Đỏ, Nâu vàng, Trắng, Trắng ngọc trai, Vàng, Đen.
    </span>

    <div class="flex align-content-center justify-content-center">
      <img class="w-12 md:w-6" src="assets/img/khuyen-mai/bai-viet/danh-gia-vios/2.jpg">
    </div>
  </div>

  <span class="flex text-2xl underline">
    Đánh giá xe chi tiết
  </span>

  <span class="flex text-2xl">
    Ngoại thất – trẻ trung, thể thao hơn
  </span>

  <span class="flex">
    Về tổng thể, phiên bản mới có ngoại hình rất trẻ trung và mang đậm tính thể thao với kích thước tổng thể là 4425 x 1730 x 1475 mm. Xe Vios mới được thiết kế nổi bật ở phần đầu xe, phần đuôi xe và thân xe, so với bản tiền nhiệm, ngoại hình của Vios 2021 được tinh chỉnh nhẹ mang đến diện mạo mạnh mẽ, cá tính hơn.
  </span>

  <div class="flex flex-column">
    <span class="flex flex text-2xl">
      Đầu xe
    </span>

    <div class="flex align-content-center justify-content-center">
      <img class="w-12 md:w-6" src="assets/img/khuyen-mai/bai-viet/danh-gia-vios/3.jpg">
    </div>

    <span class="flex">
      Đầu xe là nơi nhận được thay đổi mạnh mẽ nhất về thiết kế, nổi bật nhất là bộ lưới tản nhiệt hình thang với kích thước lớn hơn. Đồng thời được sơn đen bóng và nói liền với cụm đèn trước. Ngoài ra đầu xe còn có thêm 2 cảm biến đỗ rất tiện ích khi đi trên phố đông.
    </span>

    <div class="flex align-content-center justify-content-center">
      <img class="w-12 md:w-6" src="assets/img/khuyen-mai/bai-viet/danh-gia-vios/4.jpg">
    </div>

    <span class="flex">
      “Đôi mắt” của Vios 2021 cũng tạo ra ấn tượng mạnh khi được nâng cấp từ halogen lên LED với 3 bóng chiếu ở các bản cao cấp. Đi kèm là tính năng tự động bật tắt và dải đèn LED ban ngày vuốt ngược mới mang đến cái nhìn trẻ trung, hiện đại hơn.
    </span>

    <span class="flex">
      Trong khi đó, các bản thấp cấp vẫn sử dụng đèn Halogen phản xạ đa hướng. Hốc đèn sương mù được làm mới với kiểu dáng vuốt thẳng nam tính hơn tạo hình giọt nước ở bản tiền nhiệm.
    </span>
  </div>

  <div class="flex flex-column">
    <span class="flex text-2xl">
      Thân xe
    </span>

    <div class="flex align-content-center justify-content-center">
      <img class="w-12 md:w-6" src="assets/img/khuyen-mai/bai-viet/danh-gia-vios/5.jpg">
    </div>

    <span class="flex">
      Phần thân của xe được thiết kế mềm mại hơn với đường gân chạy dọc. Mũi xe hơi dốc về phía trước và đuôi xe lại vuốt lên cao giúp làm tăng khí động học. Toàn bộ phần thân được đặt trên bộ vành 15 inch đa chấu kết hợp với gương chiếu hậu gập - chỉnh điện tích vô cùng hiện đại. Cùng với tay nắm cửa mạ rôm trên bản cao cấp 1.5G CVT giúp tăng thêm phần sang trọng.
    </span>
  </div>

  <div>
    <span class="flex text-2xl">
      Đuôi xe
    </span>

    <div class="flex align-content-center justify-content-center">
      <img class="w-12 md:w-6" src="assets/img/khuyen-mai/bai-viet/danh-gia-vios/6.jpg">
    </div>

    <span class="flex">
      Phần đuôi xe có thiết kế cản sau đầy đặn, tròn trịa. Điểm nhấn ở phần đuôi xe chính là đèn chiếu hậu được tạo hình lưỡi đao hướng ra ngoài. Công nghệ đèn LED cũng được áp dụng tại đây và cho hiệu ứng phát sáng bắt mắt.
    </span>
  </div>

  <div class="flex flex-column">
    <span class="flex text-2xl">
      Nội thất – tinh tế, sang trọng
    </span>
    <span class="flex">
      Ngoại trừ phiên bản GR-S, các phiên bản còn lại có thiết kế khoang nội thất y hệt bản tiền nhiệm. Với kích thước hiện tại của xe Vios đời 2021 không phải là dài nhất nhưng không gian bên trong luôn được tối ưu hóa giúp cho người sử dụng cảm giác thoải nhất.
    </span>
  </div>

  <div class="flex flex-column">
    <span class="flex text-2xl">
      Khoang lái
    </span>
    <span class="flex">
      Khoang lái mang đem đến sự hiện đại, trẻ trung hơn với sự phối hợp của 2 màu đen và kem tương phản. Mặt trên táp lô được thiết kế với nhựa đen bóng xen lẫn da mềm cho hiệu ứng thị giác sống động.
    </span>

    <div class="flex align-content-center justify-content-center">
      <img class="w-12 md:w-6" src="assets/img/khuyen-mai/bai-viet/danh-gia-vios/7.jpg">
    </div>

    <span class="flex">
      Hơn nữa, cửa gió, bảng điều khiển, lẫy mở đều được phủ nhũ bạc hoặc crom sáng bóng. Tích hợp với vô lăng được thiết kế 3 chấu bọc da, các bản số tự động dùng cụm đồng hồ Optitron hiển thị màu sắc đem đến cho người dùng một trải nghiệm một nội thất xe vô cùng hiện đại.
    </span>
  </div>

  <div class="flex flex-column">
    <span class="flex text-2xl">
      Khoang hành khách
    </span>
    <span class="flex">
      Đối với khoang hành khách, Vios 2021 đã sử dụng loại Da trên Vios phiên bản (G 2021 và Vios E CVT, E MT), các chi tiết nhựa PVC cao cấp và ghế màu vàng be. Ngoài ra xe còn cung cấp thêm ghế màu đen trang trọng và sạch sẽ.
    </span>

    <span class="flex">
      Hàng ghế 2 cũng được thiết kế tối ưu không gian cho người dùng có được trải nghiệm thoải mái nhất với mặt lưng ghế dốc 65 độ thoải mái ngả lưng, co duỗi chân.
    </span>

    <div class="flex align-content-center justify-content-center">
      <img class="w-12 md:w-6" src="assets/img/khuyen-mai/bai-viet/danh-gia-vios/8.jpg">
    </div>
  </div>

  <div class="flex flex-column">
    <span class="flex text-2xl">
      Khoang hành lý
    </span>

    <div class="flex align-content-center justify-content-center">
      <img class="w-12 md:w-6" src="assets/img/khuyen-mai/bai-viet/danh-gia-vios/9.jpg">
    </div>

    <span class="flex">
      Xe có không gian hành lý khá rộng rãi với dung tích đạt 506L. Nếu muốn mở rộng, người sử dụng có thể gập hàng ghế 2 lại để tăng diện tích.
    </span>
  </div>

  <div class="flex flex-column">
    <span class="flex text-2xl">
      Tiện nghi được nâng cấp đáng kể
    </span>

    <span class="flex">
      Giờ đây xe Vios năm 2021 đã đứng đầu phân khúc xe với hàng tá tính năng mới. Ấn tượng nhất là màn hình 7 inch Apple Carplay, Android Auto. Xe còn sử dụng hệ thống điều hòa tự động, các cửa gió được phân bổ đều khoang lái. Các tính năng nổi bật khác có thể kể đến: Kết nối Apple Carplay, Android với điện thoại, Màn hình cảm ứng 7 inch, Đầu DVD, Cổng USB, Bluetooth, AUX, Dàn âm thanh 4-6 loa, Chìa khóa thông minh.
    </span>

    <div class="flex align-content-center justify-content-center">
      <img class="w-12 md:w-6" src="assets/img/khuyen-mai/bai-viet/danh-gia-vios/10.jpg">
    </div>

    <div class="flex flex-column">
      <span class="flex text-2xl">
        Động cơ & hộp số
      </span>

      <span class="flex">
        Xe Vios 2021 có khối động cơ xăng 2NR-FE 1.5L công nghệ Dual VVT-i (điều chỉnh van biến thiên thông minh kép) tiên tiến, dung tích 1.5L, cam kép DOHC cho công suất cực đại 107Hp/ 6000rpm và mô men xoắn cực đại 140Nm/4200rpm. Tiêu chuẩn khí thải đạt chuẩn Euro 4
      </span>

      <div class="flex align-content-center justify-content-center">
        <img class="w-12 md:w-6" src="assets/img/khuyen-mai/bai-viet/danh-gia-vios/11.jpg">
      </div>

      <span class="flex">
        Hộp số Toyota Vios là loại vô cấp CVT (dành cho 2 bản số tự động), 10 cấp số ảo cho bản 1.5GR-S và số sàn 5 cấp (dành cho bản số sàn). Mức tiêu hao nhiên liệu trung bình 5.81/100km (kết hợp); 5.01/100km (cao tốc); 71/100km (thành thị). Xưa nay Toyota Vios vẫn nổi tiếng là mẫu xe tiết kiệm nhiên liệu, tạo được sự an tâm cho chủ xe.
      </span>
  </div>

  <div class="flex flex-column">
    <span class="flex text-2xl">
      Vận hành – bền bỉ, tiết kiệm
    </span>

    <span class="flex">
      Phiên bản nâng cấp giữa dòng đời Toyota Vios 2021 vẫn sử dụng hệ thống treo trước/sau dạng độc lập Macpherson/dầm xoắn. Đi kèm là bộ lốp dày có thông số 185/60R15. Khoảng sáng gầm xe vẫn duy trì ở mức 133 mm, mức tiêu hao nhiên liệu trung bình đạt 5.74-5.92L/100km.
    </span>
  </div>

  <div class="flex flex-column">
    <span class="flex text-2xl">
      Hệ thống an toàn
    </span>

    <span class="flex">
      Xe sở hữu các tính năng an toàn cao cấp như:
    </span>

    <ul>
      <li>Chống bó cứng phanh</li>
      <li>Phanh khẩn cấp</li>
      <li>Phanh điện tử</li>
      <li>7 hoặc 3 túi khí</li>
      <li>Cruise Control kiểm soát tốc độ/li>
      <li>Kiểm soát lực kéo</li>
      <li>Cảm biến hỗ trợ đỗ xe</li>
      <li>Khung xe GOA</li>
      <li>Cấu trúc giảm chấn thương cổ trên ghế</li>
      <li>Cột lái tự đổ </li>
    </ul>
  </div>

  <div class="flex flex-column">
    <span class="flex text-2xl underline">
      Kết luận
    </span>

    <span class="flex">
      Với những ưu điểm nổi trội, đánh bật nhiều đối thủ mạnh trên thị trường xe Việt Nam, xe đã vươn lên đứng đầu phân khúc xe. Giá Vios 2021 nằm ở mức tầm trung và được trang bị các tính năng công nghệ nhiều hơn trước và bền bỉ vô đối. Đây đúng là sản phẩm đáng sử dụng nhất trên thị trường xe Việt Nam.
    </span>

    <span class="flex">
      Để có thêm thông tin, xin vui lòng truy cập website www.toyota-longxuyen.vn hoặc liên hệ hotline: 0987.777.529 gặp Ms.Tiên
    </span>
  </div>

</div>
