.feature-container {
  display: flex;
  flex-flow: row wrap;
  position: relative;
  overflow: hidden;
  max-height: 221px;
  max-width: 312px;
  padding-left: 2px;
  padding-right: 2px;
}

.animation {
  margin-top: auto;
  position: relative;
  transition: 0.5s ease-in-out;
  width: 100%;
  transform: translateY(100%);
}

.image-label {
  font-size: 1.7em;
  color: white;
  font-weight: 400;
  background-color: rgba(0, 0, 0, 0.6);
  bottom: 0;
  line-height: 50px;
  overflow: hidden;
  padding: 0 1em;
  text-align: center;
  width: 100%;
  position: relative;
  top: -50px;
  opacity: 1;
}

.feature-container:hover {
  .image {
    opacity: 0.8;
  }
  .animation{
    transform: translateY(0%);
  }

  .image-label {
    opacity: 1;
  }
}
