<div class="grid justify-content-center">
    <div class="col-12">
        <img class="h-4rem md:h-5rem" src="assest/img/banner/Home Banner 1436x550-23.png">
    </div>
    <div class="col-12">
        <div class="grid justify-content-center">
            <div class="col-3">
                <img class="h-4rem md:h-5rem" src="assest/img/khuyen-mai/bai-viet/vious-uu-dai/1.png">
            </div>
            <div class="col-7">
                <span class="font-bold text-base md:text-xl" >
                    Toyota Việt Nam triển khai chương trình
                     “An tâm ở nhà, nhận quà ưu đãi” cho Vios lên đến 26,5 triệu đồng.
                </span>
                <span class="md:text-sm">04/09/2021</span>
                <span class="text-base md:text-lg">Tại Việt Nam, nếu có ý định mua một chiếc ôtô 
                    thì chắc chắn Toyota Vios ít nhất một lần xuất hiện trong suy nghĩ của bạn.[...] 
                </span>
            </div>
        </div>
    </div> 
</div>
