<div class="grid justify-content-center align-content-center">
    <div class="col-12">
      <app-banner text="KHUYẾN MÃI"
        img="../../../assets/img/background01.jpg">
      </app-banner>
    </div>

    <div class="col-12">
      <a href="khuyen-mai/di-chuyen-hieu-qua-mua-covid-19">
        <div class="grid justify-content-center align-content-center">
            <div class="col-4">
                <img class="h-4rem md:h-12rem" src="assets/img/khuyen-mai/bai-viet/covid/02.jpg" width="80%">
            </div>
            <div class="flex-column col-8">
                <span class="flex font-bold text-base md:text-xl" >
                    Di chuyển thế nào hiệu quả trong thời điểm đại dịch Covid 19?
                </span>
                <span class="flex md:text-sm">21/09/2021</span>
                <span class="flex text-base md:text-lg">Ô tô không phải phương tiện giúp người dùng miễn nhiễm với dịch bệnh,
                  nhưng có thể giảm thiểu rủi ro mỗi khi di chuyển trên đường phố[...]
                </span>
            </div>
        </div>
      </a>
    </div>

    <div class="col-12">
      <a href="khuyen-mai/an-tam-o-nha-nhan-qua-uu-dai">
        <div class="grid justify-content-center align-content-center">
            <div class="col-4">
                <img class="h-4rem md:h-12rem" src="assets/img/khuyen-mai/bai-viet/vios-uu-dai/1.png" width="80%">
            </div>
            <div class="flex-column col-8">
                <span class="flex font-bold text-base md:text-xl" >
                    Toyota Việt Nam triển khai chương trình
                     “An tâm ở nhà, nhận quà ưu đãi” cho Vios lên đến 26,5 triệu đồng.
                </span>
                <span class="flex md:text-sm">04/09/2021</span>
                <span class="flex text-base md:text-lg">Tại Việt Nam, nếu có ý định mua một chiếc ôtô
                    thì chắc chắn Toyota Vios ít nhất một lần xuất hiện trong suy nghĩ của bạn.[...]
                </span>
            </div>
        </div>
      </a>
    </div>
</div>

