<div class="side-bar">
  <ul class="list-style-none">
    <li>
      <a class="icon-style" [href]="zaloLink">
        <i class="fa fa-comment"> </i>
      </a>
      <span class="icon-text"><a [href]="zaloLink">Zalo</a></span>
    </li>
    <li>
      <a class="icon-style" [href]="messengerLink">
        <i class="fab fa-facebook-f"> </i>
      </a>
      <span class="icon-text"><a [href]="messengerLink">Facebook</a></span>
    </li>
    <li>
      <a class="icon-style" [href]="dangKyLaiThuLink">
        <i class="fas fa-calendar-alt"></i>
      </a>
      <span class="icon-text"><a [href]="dangKyLaiThuLink">Đăng Ký Lái Thử</a></span>
    </li>
    <li>
      <a class="icon-style" [href]="phoneLink">
        <i class="fas fa-phone"></i>
      </a>
      <span class="icon-text"><a [href]="phoneLink">Phone</a></span>
    </li>
  </ul>

</div>
