<div class="side-bar">
  <ul class="list-style-none">
    <li>
      <a class="icon-style">
        <i class="fa fa-comment"> </i>
      </a>
      <span class="icon-text">Zalo</span>
    </li>
    <li>
      <a class="icon-style">
        <i class="fab fa-facebook-messenger"></i>
      </a>
      <span class="icon-text">Messenger</span>
    </li>
    <li>
      <a class="icon-style">
        <i class="fas fa-phone"></i>
      </a>
      <span class="icon-text">Phone</span>
    </li>
  </ul>

</div>
