<div class="dang-ky-container border-container">
  <div class="p-grid p-jc-center inner-container">
    <div class="p-col-12">
      <span class="p-input-icon-left max-width">
        <i class="fa fa-user"></i>
        <input class="max-width" type="text" pInputText placeholder="Tên Bạn">
      </span>
    </div>
    <div class="p-col-12">
      <span class="p-input-icon-left max-width">
        <i class="pi pi-mobile"></i>
        <input class="max-width" type="text" pInputText placeholder="Số Điện Thoại">
      </span>
    </div>
    <div class="p-col-12">
      <span class="p-input-icon-left max-width">
        <i class="fa fa-car"></i>
        <input class="max-width" ype="text" pInputText placeholder="Xe bạn quan tâm">
      </span>
    </div>
    <div class="p-col-12">
      <p-button label="Đang Ky"></p-button>
    </div>
  </div>
</div>
