<div class="grid">
  <div class="col-12 md:col-6 top-left" *ngIf="displayingModel">
    <div class="grid">
      <div class="col-12">
        <span class="car-model">{{displayingModel.brand}}</span>
      </div>
      <div class="col-12">
        <span class="car-lingo">{{displayingModel.lingo}}</span>
      </div>
      <div class="col-12">
        <span class="car-price">{{formatCarPrice(displayingModel.price)}}</span>
      </div>
      <div class="col-12 car-info">
        <ul>
          <li *ngIf="displayingModel.promotion" class="promotion">
            <span>{{displayingModel.promotion}}</span>
          </li>
          <li><span>Số chỗ ngồi : {{displayingModel.seats}} chỗ</span></li>
          <li><span>Kiểu dáng : {{displayingModel.type}}</span></li>
          <li><span>Nhiên liệu : {{displayingModel.fuelType}}</span></li>
          <li><span>Xuất xứ : {{displayingModel.manufacture}}</span></li>
          <li *ngIf="displayingModel.otherInfo">
            <span>Thông tin khác:</span>
          </li>
        </ul>
        <ul class="other-info">
          <ng-template ngFor let-info [ngForOf]="displayingModel.otherInfo">
            <li ><span>{{info}}</span></li>
          </ng-template>
        </ul>
      </div>
      <div class="col-12">
        <a class="phone-link" [href]="phoneLink">
          <button pButton pRipple type="button" label="Gọi Tư Vấn" class="p-button-rounded"></button>
        </a>
      </div>
    </div>
  </div>
  <div class="col-12 md:col-6 top-right" *ngIf="displayingCar">
    <div class="grid justify-content-center">
      <div class="col-12 color-image-container">
        <img src={{displayingCar.image}} width="100%">
      </div>
      <div class="col-12 lg:col-8">
        <div class="color-label-container">
          <span>{{displayingCar.label}}</span>
        </div>
      </div>
      <div class="col-12">
        <div class="grid justify-content-center">
          <ng-template ngFor let-color [ngForOf]="colors" let-i="index">
            <div class="col-1">
              <!-- changed the display car by use input index -->
              <button pButton class="p-button-sm"
              [style.background]="color.colorCode"
              (click)="selectColor(i)"></button>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="hasOtherModels" class="col-12 bottom">
    <div class="grid">
      <div class="col-12 other-title-container">
        <span class="other-model-title">CÁC MẪU KHÁC</span>
      </div>
      <ng-template ngFor let-model [ngForOf]="otherModels">
        <div class="col-12 md:col-6">
          <div class="grid align-items-center justify-content-center">
            <div class="col-6 other-model-image-container">
              <img class="other-model-image" src="{{getModelImageSrc(model)}}" (click)="onClick(model)">
            </div>
            <div class="col-6 other-model-brand-container">
              <div class="grid p-nogutter">
                <div class="col-12">
                  <span class="other-model-brand" (click)="onClick(model)">{{model.brand}}</span>
                </div>
                <div class="col-12">
                  <span class="other-model-price">Giá từ: {{formatCarPrice(model.price)}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </div>
  </div>
</div>
