.color-label-container {
  border-bottom: solid 1px black;
  text-align: end;
  font-size: large;
}

.color-image-container {
  width: fit-content;
  img {
    max-width: 500px;
  }
}

.color-selection {
  margin-left: 5px;
  margin-right: 5px;
}

.car-model {
  color: red;
  font-size: larger;
  padding-bottom: 5px;
  border-bottom: solid 1px black;
}

.car-lingo {
  font-size: xx-large;
}

.car-price {
  font-size: larger;
}

.phone-link {
  text-decoration: none;
}

.car-info {
  font-size: small;
  color: dimgrey;

  ul {
    margin: 0;
    padding-inline-start: 20px;
  }

  ul.other-info {
    list-style-type: circle;
  }

  li {
    padding-bottom: 5px;

    &.promotion {
      color: red;
      font-size: medium;
      padding-bottom: 10px;
      white-space: pre-line;
    }
  }
}



.other-title-container {
  margin-bottom: 1rem;
}

.other-model-title {
  font-size: x-large;
  border-bottom: solid 1px;
  padding-bottom: 5px;
}

.other-model-image {
  max-height: 80px;

  &:hover {
    cursor: pointer;
  }
}

.other-model-image-container {
  width: fit-content;
}

.other-model-brand-container {
  border-left: solid 5px red;
  padding-left: 1rem;
}

.other-model-brand {
  font-weight: bolder;

  &:hover {
    cursor: pointer;
  }
}

.other-model-price {
  font-size: smaller;
}
