<div class="flex flex-column align-content-center justify-content-center">
  <span class="flex text-2xl">
    Toyota Việt Nam triển khai chương trình “An tâm ở nhà, nhận quà ưu đãi” cho Vios lên đến 26,5 triệu đồng
  </span>

  <span class="flex">
    Tại Việt Nam, nếu có ý định mua một chiếc ôtô thì chắc chắn Toyota Vios ít nhất một lần xuất hiện trong
    suy nghĩ của bạn. Do đó, không lạ gì khi Vios được mệnh danh là “mẫu xe quốc dân”. Không phải ngẫu nhiên
    Vios có được biệt danh này.
  </span>

  <div class="flex align-content-center justify-content-center">
    <img class="w-12 md:w-6" src="assets/img/khuyen-mai/bai-viet/vios-uu-dai/1.png">
  </div>
  <span class="flex">
    Kể từ năm 2003, Toyota bán được hơn 195.000 chiếc Vios - mốc doanh số ít mẫu xe đạt được tại Việt Nam.
    Trong 7 năm liền (2014-2020), đây cũng là mẫu xe bán chạy nhất toàn thị trường và dĩ nhiên, Toyota Vios
    cũng đứng đầu phân khúc xe hạng B.
  </span>
  <span class="flex">
    Cộng dồn 7 tháng đầu năm, Vios đạt doanh số 10.966 xe. Mẫu sedan cỡ B này có bản nâng cấp vào tháng 2,
    mất thêm một vài tháng để "lấy đà" trước khi trở lại vị thế dẫn đầu từ tháng 5. Những cải tiến đáng tiền
    cộng thêm giá trị cốt lõi phục vụ đúng nhu cầu của khách hàng đã tiếp tục mang lại thành công cho Vios.
  </span>
  <span class="flex text-2xl heading-text">
    Ưu điểm nổi trội của mẫu xe Vios:
  </span>
  <span class="flex">
    Kiểu dáng trẻ trung, liên tục được nâng cấp nhiều tiện nghi hiện đại. Hệ thống đèn chiếu sáng LED trên
    phiên bản Vios G có tuổi thọ và cường độ sáng cao, mang lại khả năng quan sát tốt khi trời tối và có
    thiết kế trẻ trung, hiện đại hơn.
  </span>
  <div class="flex align-content-center justify-content-center">
    <img class="w-12 md:w-6" src="assets/img/khuyen-mai/bai-viet/vios-uu-dai/2.png">
  </div>
  <span class="flex">
    Không gian nội thất rộng rãi, thiết kế tối ưu với bệ tì tay ghế sau và sàn xe phẳng, hàng ghế thứ hai
    gập 40/60 giúp gia tăng khoang hành lý.
  </span>
  <span class="flex">
    Hệ thống điều hòa bền bỉ, mạnh mẽ, có khả năng làm mát nhanh và tối ưu luồng khí lưu thông tạo cảm
    giác dễ chịu cho mọi vị trí ngồi
  </span>
  <span class="flex">
    Bản G và E CVT bổ sung tính năng đèn báo phanh khẩn cấp, bản E MT có cảm biến lùi, bản G thêm hệ
    thống tự động khóa cửa theo tốc độ.
  </span>
  <span class="flex">
    Đạt chứng nhận 5 sao ASEAN NCAP, được trang bị 7 túi khí và dây đai an toàn 3 điểm tại 5 vị trí ghế ngồi,
    mang lại sự an tâm cho người lái và tất cả hành khách. Các trang bị khác của Vios 2021 phải kể đến phanh
    ABS, EBD, BA, hỗ trợ khởi hành ngang dốc HAC, ổn định thân xe VSC, kiểm soát lực kéo TRC, camera lùi và
    6 cảm biến xung quanh thân xe.
  </span>
  <div class="flex align-content-center justify-content-center">
    <img class="w-12 md:w-6" src="assets/img/khuyen-mai/bai-viet/vios-uu-dai/3.png">
  </div>
  <span class="flex">
    Độ bền cao, không lo hỏng vặt, chi phí bảo dưỡng tiết kiệm nhất phân khúc, cùng với dịch vụ chất lượng cao
    tại 75 đại lý & chi nhánh Toyota trải dài khắp 37 tỉnh thành trên cả nước
  </span>
  <span class="flex">
    Ngoài ra, không thể không nhắc đến chính sách giá hấp dẫn, đưa mẫu xe của Toyota trở thành lựa chọn sáng giá trong phân khúc.
  </span>
  <span class="flex">
    Trong tháng 9 này, Công ty Ô tô Toyota Việt Nam cùng hệ thống đại lý Toyota trên toàn quốc triển khai
    chương trình “An tâm ở nhà, nhận quà ưu đãi” cho Vios lên đến 26,5 triệu đồng dành cho khách hàng ký hợp
    đồng và thanh toán đầy đủ đối với Toyota Vios từ ngày 01/9/2021 đến hết ngày 30/9/2021, cụ thể như sau:
  </span>

  <p-table [value]="info">
    <ng-template pTemplate="header">
      <tr>
        <th>Code</th>
        <th>Name</th>
    </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
      <tr>
          <td>{{product.model}}</td>
          <td>{{product.detail}}</td>
      </tr>
  </ng-template>
  </p-table>

  <span class="flex">
    Cũng trong thời gian này, Công ty Tài Chính Toyota Việt Nam hỗ trợ khách hàng mua xe Vios với lãi suất ưu
    đãi cố định trong 6 tháng đầu chỉ 2,99%/năm, cam kết không phát sinh thêm chi phí.
  </span>
  <span class="flex">
    Để có thêm thông tin, xin vui lòng liên hệ: 0987 777 529 (Phụng Tiên)
  </span>
  <div class="flex-column">
    <span class="flex text-2xl heading-text">
      THÔNG TIN THAM KHẢO
    </span>
    <span class="flex">
      Bên cạnh các chương trình ưu đãi cho Vios, Công ty Ô tô Toyota Việt Nam cùng hệ thống đại lý triển khai
      chương trình siêu ưu đãi chào thu dành cho mẫu xe Wigo và Rush.
    </span>
    <span class="flex">
      Khách hàng ký hợp đồng và thanh toán đầy đủ đối với Toyota Wigo phiên bản mới từ nay đến hết ngày 31/12/2021
      sẽ nhận được ưu đãi lên đến 20 triệu đồng bao gồm bọc ghế da PVC, phim dán kính chính hãng Toyota và gói bảo
      hành chính hãng mở rộng.
    </span>
    <span class="flex">
      Với mẫu xe Rush, khách hàng sẽ nhận được ưu đãi gói bảo hiểm vật chất 1 năm chính hãng Toyota (gói bảo hiểm Vàng)
      trị giá lên đến 8,7 triệu đồng khi mua xe và thanh toán đầy đủ từ nay đến hết ngày 31/12/2021 và ưu đãi
      từ gói vay tài chính Toyota.
    </span>
    <span class="flex">
      Trước tình hình dịch bệnh Covid-19 diễn biến phức tạp, hệ thống đại lý Toyota trên toàn quốc thực hiện các
      chương trình đảm bảo an toàn cho khách hàng và nhân viên nhằm góp phần đẩy lùi dịch bệnh và sớm đưa cuộc
      sống trở lại trạng thái bình thường như đẩy mạnh hoạt động trực tuyến, giao xe tại nơi khách hàng yêu cầu,
      sửa chữa khẩn cấp …
    </span>
  </div>
</div>
