div {
  margin-bottom: 1rem;
}

.text {
  line-height: 1.5;
}

.list {
  line-height: 1.5;
  margin: 0;

  li {
    padding-bottom: 10px;
  }
}

:host ::ng-deep .p-dropdown {
  width: 100%;
}


.main-title {
  color: red;
  font-size: larger;
  font-weight: bold;
  width: fit-content;
  padding-bottom: 5px;
  border-bottom: 1px solid red;
}

.section-title {
  font-weight: bold;
  font-size: larger;
}
