<div class="p-grid context-installment">
    <div class="p-col-12 header-installment">
        <span class="header-installment">
            CÔNG TY TÀI CHÍNH TOYOTA VIỆT NAM (TFSVN)
        </span>
    </div>
    <div class="p-col-12 body-installment">
        • TFSVN là công ty tài chính 100% vốn nước ngoài được
        đầu tư bởi Tập đoàn Tài chính Toyota (TFC), 
        và là thành viên của Tập đoàn Dịch vụ Tài Chính Toyota (TFSC).
        Mục tiêu kinh doanh TFSVN hướng tới là cung cấp các 
        sản phẩm tài chính cho các Khách hàng mua xe Toyota
        và Đại lý ủy quyền của Toyota. Chúng tôi là công ty
        tài chính thứ 33 trong số 35 công ty tài chính trên
        thế giới của TFSC.<br>
        • Tên đầy đủ bằng tiếng Việt: Công ty TNHH Một Thành Viên 
        Tài Chính Toyota Việt Nam.Tên đầy đủ bằng tiếng Việt: 
        Công ty TNHH Một Thành Viên Tài Chính Toyota Việt Nam.<br>
        •Tên viết tắt: TFSVN
    </div>
    <div class="p-col-12 header-installment">
        <span class="header-installment">VAY TỪ TOYOTA MUA XE TOYOTA</span>
    </div>
    <div class="p-col-12 body-installment">
        • Lãi suất cạnh tranh, tính trên dư nợ giảm dần.<br>
        • Mức hỗ trợ tài chính tối đa đến 90% giá trị xe, 
        phụ thuộc thời hạn vay và năng lực tài chính của khách hàng.<br>
        • Thời hạn vay linh hoạt từ 1 đến 5 năm.<br>
        • Phương thức thanh toán tiện lợi: khách hàng có 
        thể thanh toán sớm một phần hoặc toàn bộ khoản tín dụng trước hạn.<br>
        • Liên hệ thuận tiện, khách hàng chỉ cần liên hệ
        đại lý Toyota  Kiên Giang và lựa chọn cho mình 
        chiếc xe yêu thích cùng dịch vụ tài chính Toyota.<br>
        Nhân viên của TFS sẽ hướng dẫn khách hàng chi tiết
        và cụ thể về hồ sơ vay. Đặc biệt, chúng tôi hỗ trợ 
        khách ở bất kỳ tỉnh thành nào trên cả nước.<br>
        • Thế chấp bằng chính chiếc xe được hỗ trợ vay.<br>
        • Hiện nay, chúng tôi không thu bất kỳ khoản phí 
        nào cho dịch vụ tài chính của Toyota.
    </div>
    <div class="p-col-12 header-installment">
        <span class="header-installment">SẢN PHẨM TÀI CHÍNH</span>
    </div>
    <div class="p-col-12 body-installment">
        <span class="title-finance">SẢN PHẨM TRUYỀN THỐNG</span><br>
        <img class="img-installment" src="assets/img/tragop/sp3.png">
    </div>
    <div class="p-col-12 body-installment">
        <span class="title-finance">SẢN PHẨM BALLOON </span><br>
        <img class="img-installment" src="assets/img/tragop/sp2.png">
    </div>
    <div class="p-col-12 body-installment">
        <span class="title-finance">SẢN PHẨM 50/50</span><br>
        <img class="img-installment" src="assets/img/tragop/sp1.png">
    </div>
    <div class="p-col-12 header-installment">
        <span class="header-installment">ĐIỀU KIỆN ĐĂNG KÝ</span>
    </div>
    <div class="p-col-12 header-installment">
            <tr>
                <th>KHÁCH HÀNG CÁ NHÂN</th>
                <th>KHÁCH HÀNG DOANH NGHIỆP</th>
            </tr>
            <tr>
                <td>
                    Công dân Việt Nam<br>
                    – Tuổi từ 18-65.<br>
                    – Có hộ khẩu thường trú tại Việt Nam.<br>
                    – Có đầy đủ năng lực pháp luật và năng lực hành vi dân sự.
                </td>
                <td>"Các Doanh Nghiệp thành lập theo luật Doanh nghiệp Việt Nam"</td>
            </tr>
            <br>
            <tr>
                <td>
                    – Đăng ký vay mua xe Cá Nhân theo mẫu của TFSVN. Tải ở đây<br>
                    – Giấy tờ nhân thân<br>
                    – Giấy tờ chứng minh năng lực tài chính<br>
                    – Các giấy tờ khác theo yêu cầu của TFSVN
                </td>
                <td>
                    – Đăng ký vay mua xe Doanh Nghiệp theo mẫu của TFSVN. Tải ở đây<br>
                    – Hồ sơ pháp lý công ty<br>
                    – Giấy tờ chứng minh năng lực tài chính<br>
                    – Các giấy tờ khác theo yêu cầu của TFSVN
                </td>
            </tr>

    </div>
    <div class="p-col-12 header-installment">
        <span class="header-installment">ƯU ĐÃI TỪ TÀI CHÍNH TOYOTA</span>
    </div>
    <div class="p-col-12 body-installment">
        Với phương châm hoạt động Khách hàng là trên hết,
        chúng tôi không ngừng nỗ lực hoạt động để phục vụ khách
        hàng tốt nhất.Vui lòng liên hệ hotline Toyota An Giang 
        theo Hotline:  <strong> 0987 777 529 </strong>
        để được tư vấn mua xe trả góp lãi suất thấp nhất.
    </div>
</div>
