<div class="flex flex-column align-content-center justify-content-center">
    <span class="flex text-2xl heading-text">
        Di chuyển thế nào cho hiệu quả trong thời điểm đại dịch Covid 19?
    </span>

    <span class="flex">
        Ô tô không phải phương tiện giúp người dùng miễn nhiễm với dịch bệnh, nhưng có thể giảm thiểu rủi ro mỗi khi di chuyển trên đường phố.
    </span>

    <span class="flex"><i>
        “Ngồi trong ô tô không đồng nghĩa 100% miễn nhiễm, nhưng giảm đáng kể rủi ro vì có khoảng cách với người xung quanh.
        Ví dụ khi dừng đèn đỏ hay một vài thời điểm phải xếp hàng qua chốt kiểm tra giấy đi đường…”</i>
    </span>

    <span class="flex">
        Hoặc một số gia đình có phụ nữ đang mang thai và trẻ em thì một chiếc ô tô lại là cứu cánh cho tất cả
        nỗi lo sợ khi phải di chuyển của chúng ta trong thời điểm này.
    </span>
    <span class="flex">
        Công ty Ô tô Toyota Việt Nam công bố tổng doanh số bán hàng trong tháng 08/2021 đạt 2.304 xe (bao gồm xe Lexus),
        giảm 47% so với cùng kỳ năm trước trong khi tổng thị trường giảm 54% (tháng 08/2020) do ảnh hưởng bởi dịch Covid-19.
        Trong 8 tháng đầu năm, Toyota Việt Nam đứng đầu phân khúc xe du lịch với doanh số đạt 35.850 xe (bao gồm xe Lexus).
        Trong đó, mẫu xe Vios và Corolla Cross tiếp tục góp mặt trong top 10 các mẫu xe bán chạy nhất thị trường.
        Mẫu xe Vios tiếp tục giữ vị trí số 1 trong phân khúc Sedan hạng B với doanh số đạt 987 xe trong tháng 8.
        Mẫu xe Corolla Cross mặc dù hạn chế về nguồn cung nhưng vẫn luôn được khách hàng ưa chuộng và trở thành
        sự lựa chọn hàng đầu trong phân khúc SUV đô thị cỡ trung với doanh số đạt 759 xe.
    </span>

    <span class="flex">
        Tháng 08/2021, doanh số xe lắp ráp trong nước của Toyota đạt 1.057 xe, chiếm 47% doanh số Toyota Việt Nam. Doanh số các mẫu xe nhập khẩu đạt 1.200 xe.
    </span>

    <span class="flex text-2xl ">
        Doanh số bán hàng các mẫu xe Toyota trong tháng 08/2021
    </span>
    <span class="flex">
        <i>
            (Đơn vị: Xe)
        </i>
    </span>

    <div class="flex">
      <table>
        <tr>
          <th>Phân khúc</th>
          <th>Mẫu xe</th>
          <th>Nguồn gốc</th>
          <th>Tháng 08/2021</th>
          <th>Tháng 08/2020</th>
        </tr>
        <tr>
          <td rowspan="5">Xe du lịch</td>
          <td>Vios</td>
          <td class="center-text" rowspan="2">CKD</td>
          <td class="center-text">987</td>
          <td class="center-text">2.153</td>
        </tr>
        <tr>
          <td>Corolla Altis</td>
          <td class="center-text">18</td>
          <td class="center-text">251</td>
        </tr>
        <tr>
          <td>Camry</td>
          <td class="center-text" rowspan="3">CBU</td>
          <td class="center-text">67</td>
          <td class="center-text">311</td>
        </tr>
        <tr>
          <td>Wigo</td>
          <td class="center-text">52</td>
          <td class="center-text">231</td>
        </tr>
        <tr>
          <td>Yaris</td>
          <td class="center-text">20</td>
          <td class="center-text">31</td>
        </tr>

        <tr class="total">
          <td colspan="3">Tổng xe du lịch (1)</td>
          <td class="center-text">1.144</td>
          <td class="center-text">2.977</td>
        </tr>

        <tr>
          <td rowspan="7">Xe thương mại</td>
          <td>Fortuner</td>
          <td class="center-text">CKD + CBU</td>
          <td class="center-text">69</td>
          <td class="center-text">404</td>
        </tr>
        <tr>
          <td>Innova</td>
          <td class="center-text">CKD</td>
          <td class="center-text">10</td>
          <td class="center-text">274</td>
        </tr>
        <tr>
          <td>Corolla Cross</td>
          <td class="center-text" rowspan="5">CBU</td>
          <td class="center-text">759</td>
          <td class="center-text">217</td>
        </tr>
        <tr>
          <td>Hilux</td>
          <td class="center-text">162</td>
          <td class="center-text">70</td>
        </tr>
        <tr>
          <td>Rush</td>
          <td class="center-text">54</td>
          <td class="center-text">215</td>
        </tr>
        <tr>
          <td>Land Cruiser + Land Cruiser Prado</td>
          <td class="center-text">44</td>
          <td class="center-text">65</td>
        </tr>
        <tr>
          <td>Các mẫu xe khác</td>
          <td class="center-text">15</td>
          <td class="center-text">37</td>
        </tr>

        <tr class="total">
          <td colspan="3">Tổng xe thương mại (2)</td>
          <td class="center-text">1.113</td>
          <td class="center-text">1.282</td>
        </tr>
        <tr class="total">
          <td colspan="3">Tổng (1) + (2)</td>
          <td class="center-text">2.257</td>
          <td class="center-text">4.259</td>
        </tr>
      </table>
    </div>


    <div class="flex align-content-center justify-content-center">
      <img class="w-12 md:w-6" src="assets/img/khuyen-mai/bai-viet/covid/01.jpg">
    </div>

    <div class="flex align-content-center justify-content-center">
      <img class="w-12 md:w-6" src="assets/img/khuyen-mai/bai-viet/covid/02.jpg">
    </div>

    <span class="flex">
        Bên cạnh các hoạt động sản xuất kinh doanh, với mong muốn chung tay đẩy lùi dịch bệnh,
        đảm bảo sức khỏe và sự an toàn cho cộng đồng, nhanh chóng khôi phục cuộc sống bình thường mới,
        vừa qua, Toyota Việt Nam tiếp tục ủng hộ 10 máy trợ thở và 15 máy đo nồng độ ô xy trong máu
        cầm tay (SPO2), tổng giá trị 1,2 tỷ đồng cho tỉnh Vĩnh Phúc. Đồng thời, hệ thống đại lý Toyota
        trên toàn quốc thực hiện các chương trình đảm bảo an toàn cho khách hàng và nhân viên trong
        mùa dịch Covid-19 cũng như đẩy mạnh hoạt động trực tuyến, giao xe tại nơi khách hàng yêu cầu, sửa chữa khẩn…
    </span>
    <span class="flex">
        Để biết thêm thông tin, vui lòng truy cập website https://www.toyota-longxuyen.vn hoặc liên hệ 0987.777.529 gặp Ms Tiên
    </span>
</div>
