<div class="grid">
  <div class="col-12 model-car-container">
    <div class="grid align-items-center">
      <div class="col-fix"><span class="collection-title">{{title}}</span></div>
      <div class="col"><hr></div>
    </div>
  </div>
  <div class="col-12">
    <div class="grid justify-content-center">
      <ng-template ngFor let-car [ngForOf]= "collection">
          <div class="col-12 md:col-6 lg:col-4">
              <div class="body-img-car">
                  <img class="img-model-car" src="{{car.imageSrc}}"
                  (click)="onClick(car)" width="100%">
              </div>
              <div class="car-name">{{car.name}}</div>
              <div class="price-car">Giá từ: {{car.price}}</div>
          </div>
      </ng-template>
    </div>
  </div>
</div>
