
.model-car-container{
  font-size: 25px;
  color: rgb(184, 2, 2);
  text-align: left;
}
.collection-title {
  font-family: Tahoma;
}
.car-name{
  font-size: large;
  font-family: Cambria;
  color:black;
  font-weight: bold;
  text-align: center;
}
.price-car{
  font-size: large;
  color: red;
  font-weight: bold;
  text-align: center;
}

.img-model-car {
 position: relative;
 transition-duration: .5s;
}

.img-model-car:hover {
  transform: scale(1.05);
  cursor: pointer;
}
