.title-container {
  color: rgb(0, 0, 177);
  font-size: larger;
  font-weight: bold;
  border-bottom: 1px solid;
  margin-bottom: 1rem;
}

.border-container {
  border-width: 1px;
  border-style: solid;
  border-radius: 10px;
  border-color: lightgray;
  padding: 1rem;
  margin-bottom: 1rem;
}

::ng-deep .p-dropdown {
  width: 100%;
}

.final-price-label {
  margin-top: .5rem;
  font-size: larger;
}

.final-price-value {
  margin-top: .5rem;
  color: rgb(0, 162, 255);
  font-size: larger;
  font-weight: bold;
}
