<div class="flex flex-column align-content-center justify-content-center">
  <span class="flex text-2xl">
    Chương trình khuyến mãi tháng 10/2021 “Tưng bừng ưu đãi, vạn lời tri ân” dành cho Khách hàng
  </span>

  <span class="flex">
    Trong thời gian vừa qua, mặc dù thị trường xe hơi bị ảnh hưởng bởi dịch Covid-19,
    nhưng Toyota Việt Nam vẫn luôn nỗ lực duy trì và phát triển hoạt động sản xuất kinh doanh,
    giữ vững vị trí số 1 trong phân khúc xe du lịch tính đến hết tháng 8 năm 2021.
    Thành tựu này có được là nhờ sự tin yêu, và đồng hành của quý khách hàng.
    Để bày tỏ sự tri ân cũng như chia sẻ với khách hàng trong bối cảnh hiện nay,
    Toyota Việt Nam cùng hệ thống đại lý Toyota trên toàn quốc dành tặng gói ưu đãi đặc biệt
    về bán hàng và dịch vụ cho khách hàng, cụ thể như sau:
  </span>

  <div class="flex flex-column">
    <span class="flex text-2xl">
      1. Gói ưu đãi bán hàng
    </span>

    <span>
      Khách hàng ký hợp đồng và thanh toán đầy đủ khi mua xe <b>Vios, Fortuner và Corolla Altis từ ngày 1/10/2021 đến hết ngày 31/10/2021</b> sẽ nhận được nhiều ưu đãi lớn như sau:
    </span>

    <div class="flex">
      <table>
        <tr>
          <td rowspan="3">
            <b>Vios</b>
          </td>
          <td>
            row1
          </td>
        </tr>
        <tr>
          <td>row2</td>
        </tr>
        <tr>
          <td>row3</td>
        </tr>
        <tr>
          <td rowspan="2">
            <b>Fortuner</b>
          </td>
          <td>row1</td>
        </tr>
        <tr>
          <td>row2</td>
        </tr>
        <tr>
          <td>
            <b>Corolla Altis</b>
          </td>
          <td>
            row1
          </td>
        </tr>

      </table>
    </div>

    <span class="flex">
      Bên cạnh đó, chương trình ưu đãi dành cho khách hàng ký hợp đồng và thanh toán đầy đủ mẫu xe Wigo và Rush tiếp tục được thực hiện đến hết ngày 31/12/2021.
    </span>

    <ul class="flex flex-column">
      <li>
        Đối với Toyota Wigo phiên bản mới: Ưu đãi lên đến 20 triệu đồng bao gồm bọc ghế da PVC, phim dán kính chính hãng Toyota và gói bảo hành chính hãng 5 năm/150.000km tùy theo điều kiện nào đến trước.
      </li>
      <li>
        Đối với Toyota Rush: Ưu đãi gói bảo hiểm vật chất 1 năm chính hãng Toyota (gói bảo hiểm Vàng) trị giá lên đến 8,7 triệu đồng. Ngoài ra, TFS VN giới thiệu gói hỗ trợ tài chính hấp dẫn “Balloon” với số tiền trả trước 126,8 triệu đồng và trả góp trung bình chỉ 6,8 triệu đồng/tháng, cùng gói hỗ trợ Trade-in (đổi xe).
      </li>
    </ul>

    <div class="flex align-content-center justify-content-center">
      <img class="w-12 md:w-6" src="assets/img/khuyen-mai/bai-viet/altis-uu-dai/1.jpg">
    </div>

    <div class="flex align-content-center justify-content-center">
      <img class="w-12 md:w-6" src="assets/img/khuyen-mai/bai-viet/altis-uu-dai/2.jpg">
    </div>
  </div>

  <div class="flex flex-column">
    <span class="flex text-2xl">
      2. Gói ưu đãi dịch vụ
    </span>
    <span class="flex">
      Bên cạnh gói ưu đãi dành cho khách hàng mua xe mới, Toyota Việt Nam hỗ trợ giảm giá 15% dầu động cơ, phụ tùng bảo dưỡng & phụ tùng hao mòn tự nhiên cho tất cả các khách hàng Toyota cài đặt ứng dụng TOYOTA Vietnam để nhận mã khuyến mại & đặt lịch hẹn trước với đại lý. (Chương trình áp dụng từ ngày 01/10/2021 đến ngày 30/11/2021 tại hệ thống 75 đại lý trải dài khắp 37 tỉnh thành trên toàn quốc).
    </span>
    <span class="flex">
      Đặc biệt, từ ngày 1/10/2021, nhiều hoạt động hấp dẫn cuối năm sẽ được triển khai bởi các đại lý Toyota trên toàn quốc, khách hàng sẽ có cơ hội trải nghiệm những mẫu xe của Toyota cùng nhiều chương trình và quà tặng có giá trị. Để đảm bảo an toàn cho khách hàng và nhân viên, hệ thống đại lý Toyota trên toàn quốc đẩy mạnh hoạt động trực tuyến, giao xe tại nơi khách hàng yêu cầu, sửa chữa khẩn cấp …
    </span>
    <span class="flex">
      Với sự thấu hiểu và chia sẻ của Toyota Việt Nam, hy vọng khách hàng sẽ có cơ hội sở hữu những mẫu xe với chi phí hợp lý cũng như chăm sóc thật tốt chiếc xe thân yêu, yên tâm tận hưởng những chuyến đi an toàn và ý nghĩa bên gia đình và những người thân yêu.
    </span>
    <div class="flex align-content-center justify-content-center">
      <img class="w-12 md:w-6" src="assets/img/khuyen-mai/bai-viet/altis-uu-dai/3.jpg">
    </div>
  </div>

  <span class="flex">
    Để có thêm thông tin, xin vui lòng truy cập website www.toyota-longxuyen.vn hoặc liên hệ hotline: 0987.777.529 gặp Ms.Tiên
  </span>

</div>
