span {
  margin-bottom: 1rem;
}

div {
  padding-bottom: 1rem;
}

li {
  padding-bottom: 1rem;
}

.no-padding {
  padding-bottom: 0;
}

:host table {
  width: 100%;
  border-collapse: collapse;
}

:host td,th {
  border: 1px solid black;
  padding: 8px;
}
