<div class="grid">
  <div class="col-12">
    <span class="title">Tính năng và An toàn</span>
  </div>
  <ng-template ngFor let-tinhNang [ngForOf]= "values">
    <div class="col-3">
      <div class="grid">
        <div class="col-12">
          <img src={{tinhNang.image}}>
        </div>
        <div class="col-12">
          <span class="tinh-nang-title">{{tinhNang.title}}</span>
        </div>
        <div class="col-12">
          <span>{{tinhNang.message}}</span>
        </div>
      </div>
    </div>
  </ng-template>
</div>
