::ng-deep .p-megamenu {
    width: fit-content !important;
    margin-left: auto;
    margin-right: auto;
    background: none;
    border: 0;
}

// .app-menu-container {
//     background-color: red;
// }